[run]
omit =
    .venv/*
    */tests/*
    **/test_*.py
    **/Python/*/lib/python/site-packages/*

[report]
omit =
    .venv/*
    */tests/*
    **/test_*.py
    **/Python/*/lib/python/site-packages/*
